<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Secret Sharing</title>
</head>
<body>
    <h2 class="text-center mt-4">Shamir's Secret Sharing</h2>
    <ul class="nav justify-content-center mt-3">
      <li class="nav-item">
        <a class="nav-link" href="#">Generate Keys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Unlock Secret</a>
      </li>
    </ul>
    <div class="container">{% block content %} {% endblock %}</div>
</body>
</html>